{% extends 'default.html' %}
{% block title %} Product list {% endblock title %}

{% block content %}
<h3>Добавление нового поста</h3>
<form method="POST" class="add_box">
    {% csrf_token %}
    <div>
    <label for="{{ form.selection_field.id_for_label }}">Выберите раздел:</label>
    {{ form.selection_field }}
    </div>
    <div>
      <label for="{{ form.categories.id_for_label }}">Выберите категорию</label>
      {{ form.categories }}
    </div>
    <div>
      <label for="{{ form.header_field.id_for_label }}">Заголовок:</label>
      {{ form.header_field }}
    </div>
    <div>
      <label for="{{ form.text_field.id_for_label }}">Text Field:</label>
      {{ form.text_field }}
    </div>
    <div>
      <label for="{{ form.author.id_for_label }}">Автор:</label>
      {{ form.author }}
    </div>
    <div>
      <label for="{{ form.check_box.id_for_label }}">Подтвердить!:</label>
      {{ form.check_box }}
    </div>
    <button type="submit">Добавить</button>
</form>
{% endblock content %}