{% extends 'default.html' %}
 
{% block title %} Product list {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<table>
    <thead>
        <th>
            Категория
        </th>
        <th>
            Заголовок
        </th>
        <th>
            Содержание
        </th>
        <th>
            Автор
        </th>
    </thead>
    <tr>
        <td>
            {{ post.selection_field }}
        </td>
        <td>
            {{ post.header_field }}
        </td>
        <td>
            {{ post.text_field }}
        </td>
        <td>
            {{ post.author.user.username }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %} 