{% extends 'default.html' %}

{% block content %}
  <h1>Search News</h1>
  <form method="get">
    <div>
      <label for="id_author">Author:</label>
      <input type="text" name="author" id="id_author" value="{{ request.GET.author }}">
    </div>
    <div>
      <label for="id_header_field">Header Field:</label>
      <input type="text" name="header_field" id="id_header_field" value="{{ request.GET.header_field }}">
    </div>
    <div>
      <label for="id_time_in">Published After:</label>
      <input type="date" name="time_in" id="id_time_in" value="{{ request.GET.time_in }}">
    </div>
    <button type="submit">Search</button>
  </form>
  {% if search %}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Header Field</th>
          <th>Published Date</th>
        </tr>
      </thead>
        <tbody>
        {% for news in search %}
          <tr>
            <td>{{ news.text_field }}</td>
            <td>{{ news.author.user.username}}</td>
            <td>{{ news.header_field }}</td>
            <td>{{ news.published_date }}</td>
              <td><a href="{% url 'news_detail' pk=news.id %}">Перейти</a></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
  {% else %}
    <p>No news found.</p>
  {% endif %}
{% endblock %}
